.footer__container {
  height: 20rem;
  background: var(--color-bg-variant);
  margin-top: 4rem;
  font-size: 0.8rem;
  position: relative;
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.links span {
  margin: 2.5rem 0rem 1.5rem 0;
  color: var(--color-primary);
  font-size: 1.5rem;
}
.social-links {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  font-size: 1.5rem;
}
.footer-link {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
}
.footer-link:hover {
  color: var(--color-primary);
}
.footer__socials {
  font-size: 1rem;
  margin-top: 0.3rem;
  margin-right: 0.3rem;
}

.copyright {
  text-align: center;
  margin: 1rem 0 3rem 0;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
}
/* =======Media queries (Medium Devices)======== */

@media screen and (max-width: 1024px) {
  .copyright {
    font-size: 1rem;
  }
}

/* =======Media queries (Small Devices)======== */

@media screen and (max-width: 600px) {
  .copyright {
    font-size: 0.75rem;
    margin-bottom: 3.5rem;
  }
  .social-links {
    flex-direction: row;
    font-size: 0.7rem;
  }
  .links {
    align-items: center;
    margin: 1rem 1rem 0rem 1rem;
  }
}
